<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.ssm.mapper.CompanyuserMapper">
	<insert id="insert" parameterType="com.wx.ssm.pojo.Companyuser" useGeneratedKeys="true">
		INSERT INTO companyuser(companyID,type,username,password,tel,income) VALUES(#{companyID},#{type},#{username, jdbcType=VARCHAR},#{password, jdbcType=VARCHAR},#{tel, jdbcType=VARCHAR},#{income})
	</insert>
	<delete id="delete" parameterType="int">
		DELETE FROM companyuser WHERE ID=#{ID}	
	</delete>
 	<update id="update" parameterType="com.wx.ssm.pojo.Companyuser">
 		UPDATE companyuser SET companyID=#{companyID},type=#{type},username=#{username,jdbcType=VARCHAR},password=#{password,jdbcType=VARCHAR},tel=#{tel,jdbcType=VARCHAR},income=#{income}
 		WHERE ID=#{ID}
 	</update>
 	<select id="selectAll" resultType="com.wx.ssm.pojo.Companyuser">
 		SELECT * FROM companyuser 					
 	</select>
 	<select id="selectOneByUsername" parameterType="java.lang.String" resultType="com.wx.ssm.pojo.Companyuser">
 		SELECT * FROM companyuser WHERE username=#{username,jdbcType=VARCHAR}
 	</select>
 	<select id="selectByCompanyID" parameterType="int" resultType="com.wx.ssm.pojo.Companyuser">
 		SELECT * FROM companyuser WHERE companyID=#{companyID}
 	</select>
 	<select id="selectOneByUserid" parameterType="int" resultType="com.wx.ssm.pojo.Companyuser">
 		SELECT * FROM companyuser WHERE ID=#{id}
 	</select>
 	<select id="getLogin" parameterType="com.wx.ssm.pojo.Companyuser" resultType="map">
 		SELECT
 			*
 		FROM
 		companyuser	a 
 		WHERE	a.companyID=#{companyID} AND a.username=#{username,jdbcType=VARCHAR} AND a.password=#{password,jdbcType=VARCHAR} 
 		AND a.type=#{type}
 	</select>
</mapper>